@import './variable.scss';
@import 'https://fonts.googleapis.com/css?family=Bowlby+One+SC|Nanum+Gothic+Coding|Sunflower:300&display=swap';

html {
  font-size: 1vw;
  cursor: default;
  scroll-behavior: smooth;
  font-family: 'Sunflower', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.hidden-comp {
  display: none;
}

// header style

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $header-height;
  line-height: $header-height;
  background-color: white;
  color: $logo-color;
  z-index: 5;
  border-top: 1px solid $logo-color;
}

.header__icon-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.header__logo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 50%;
}

.header__menu {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: auto;
  height: 50%;
  cursor: pointer;
}

.nav {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.section-nav__item {
  position: relative;
  float: left;
  margin: 0 1vw;
  height: 100%;

  a {
    all: unset;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
  }
}

.section-nav__choice {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0%;
  border: 0.5px solid $logo-color;
  transition-duration: 0.5s;
}

.header__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  background-color: $logo-color;
  border: 1px solid $logo-color;
  transition-duration: 0.8s;
}

.nav-for-mobile {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  background-color: white;
  z-index: 10;
}

.mobile-nav {
  @extend .set-center;
}

.mobile-nav__item {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 12vh 0;

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    width: 100vw;
    color: $logo-color;

    &::before {
      content: '';
      position: absolute;
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $logo-color;
      border: 1px solid $logo-color;
      width: 20px;
      transition-duration: 1s;
    }

    &::after {
      content: '';
      position: absolute;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $logo-color;
      border: 1px solid $logo-color;
      width: 20px;
      transition-duration: 1s;
    }

    &:hover::before {
      left: 20%;
    }

    &:hover::after {
      right: 20%;
    }
  }
}

.scroll-box {
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 25px;
  height: 50px;
  border: 2px solid $logo-color;
  border-radius: 13px;
  opacity: 1;
  transition-duration: 0.5s;
}

.scroll-ball {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 2px;
  height: 2px;
  background-color: $logo-color;
  transform: translateX(-50%);
  border: 1px solid $logo-color;
  border-radius: 1px;
  animation: scroll_down 1.5s infinite;
}

@keyframes scroll_down {
  0% {
    top: 20%;
  }
  100% {
    top: 70%;
  }
}

// section style

section {
  position: relative;
  width: 100vw;
  margin: $header-height auto;
  padding: $header-height 0;
}

// about style

.about {
  width: 1300px;
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back-title {
  font-size: 6vw;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 2px $logo-color;
  font-family: 'Bowlby One SC', cursive;
}

.about-content {
  margin-top: -30px;
}

.about-box {
  width: 50%;
}

.about-box__title {
  font-size: 4vw;
  text-transform: uppercase;
  color: $logo-color;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
}

.thin-line {
  width: 10%;
  height: 0%;
  background-color: $line-color;
  border: 1px solid $line-color;
  margin: 4vw auto;
}

.about-box__explanation {
  font-size: 15px;
  line-height: 40px;
  font-family: 'Nanum Gothic Coding', monospace;
}

.detail-box {
  width: 40%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.detail {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 10px;
  transition-duration: 0.2s;

  &:nth-of-type(1) {
    background-color: #e995ca;
  }
  &:nth-of-type(2) {
    background-color: #97a1cf;
  }
  &:nth-of-type(3) {
    background-color: #cbb6d7;
  }
  &:nth-of-type(4) {
    background-color: #8c76ca;
  }
  &:nth-of-type(5) {
    background-color: $logo-color;
  }
}

.detail__icon {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.detail__title {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 15px;
}

// skill style

.skill-box__title {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: $logo-color;
  font-weight: bold;
  font-family: 'Bowlby One SC', cursive;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 70px 0;
}

.flip-card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 10px;
  cursor: pointer;

  &:hover > .flip-card__front {
    transform: perspective(600px) rotateY(-180deg);
  }

  &:hover > .flip-card__back {
    transform: perspective(600px) rotateY(0deg);
  }
}

.flip-card__front {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0px 0px 5px 1px $logo-color;
}

.flip-card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

.flip-card__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-color: white;
  transition: transform 0.5s linear;
  transform: perspective(600px) rotateY(180deg);
  box-shadow: 0px 0px 5px 1px $logo-color;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
}

.flip-card__title {
  font: {
    size: 40px;
    weight: bold;
  }
  margin: 40px 0;
}

.flip-card__level {
  font: {
    size: 20px;
    weight: bold;
  }
  margin: 20px 0;
}

.flip-card__explanation {
  font-size: 12px;
  line-height: 36px;
}

// work style

.work {
  position: relative;
  width: 100vw;
  height: 40vw;
}

.arrow-box {
  text-align: right;
}

.arrow-box img {
  width: 30px;
  height: 30px;
  margin: 10px 20px;
  padding: 10px;
  cursor: pointer;
}

.slider {
  display: block;
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 15px 3px $logo-color;
}

.work-box {
  position: absolute;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  transition-property: left;
  transition-duration: 1s;
}

.current-slide {
  left: 0%;
  width: 100%;
}
.prev-slide {
  left: -100%;
  width: 100%;
}
.next-slide {
  left: 100%;
  width: 100%;
}

.screenshot-box {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center;
}

.screenshot-box__big {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: auto;
  box-shadow: 0px 0px 5px 1px $logo-color;
}

.screenshot-box__sub {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.screenshot-box__small {
  width: 25%;
  height: auto;
  box-shadow: 0px 0px 5px 1px $logo-color;
  margin: 0 5px;
  cursor: pointer;
  transition-duration: 0.5s;

  &:hover {
    box-shadow: 0px 0px 20px 10px $logo-color;
  }
}

.explanation-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: $bgc-work-explanation;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
}

.explanation-box__title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 3vw;
}
.explanation-box__explanation {
  text-align: left;
  font-size: 15px;
  line-height: 45px;
  margin: 0 5%;
}
.explanation-box__hashtag {
  font-size: 15px;
  color: $logo-color;
  word-spacing: 15px;
  cursor: pointer;
  margin: 3vw 0;
}
.explanation-box__button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid $logo-color;
  font-size: 15px;
  font-weight: bold;
  color: $logo-color;
  width: 100px;
  height: 50px;
  cursor: pointer;

  div {
    @extend .set-center;
    width: 100%;
    z-index: 3;
  }

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% - 12px);
    background: $bgc-work-explanation;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
    transform: scaleY(1);
  }

  &:hover:before {
    transform: scaleY(0);
  }

  &::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -3px;
    height: calc(100% + 6px);
    width: calc(100% - 12px);
    background: $bgc-work-explanation;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
  }

  &:hover:after {
    transform: scaleX(0);
  }
}

// contact style

.contact {
  position: relative;
  height: 25vw;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace;
}

.contact-box {
  @extend .set-center;
  height: 100%;
  margin: 5vw 0;
}

.contact-box__icon {
  width: 10%;
  height: auto;
  margin-bottom: 3vw;
}

.contact-box__contact {
  font-size: 4vw;
  color: $logo-color;
  cursor: pointer;
}

.contact-box__copy {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

@import './responsive.scss';
