@import 'https://fonts.googleapis.com/css?family=Bowlby+One+SC|Nanum+Gothic+Coding|Sunflower:300&display=swap';
.set-center, .mobile-nav, .explanation-box__button div, .contact-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

html {
  font-size: 1vw;
  cursor: default;
  scroll-behavior: smooth;
  font-family: 'Sunflower', sans-serif; }

body::-webkit-scrollbar {
  display: none; }

.hidden-comp {
  display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vw;
  line-height: 5vw;
  background-color: white;
  color: #827e9d;
  z-index: 5;
  border-top: 1px solid #827e9d; }

.header__icon-box {
  position: relative;
  width: 100%;
  height: 100%; }

.header__logo {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 50%; }

.header__menu {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  width: auto;
  height: 50%;
  cursor: pointer; }

.nav {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%); }

.section-nav__item {
  position: relative;
  float: left;
  margin: 0 1vw;
  height: 100%; }
  .section-nav__item a {
    all: unset;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
    padding: 10px; }

.section-nav__choice {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0%;
  border: 0.5px solid #827e9d;
  transition-duration: 0.5s; }

.header__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  background-color: #827e9d;
  border: 1px solid #827e9d;
  transition-duration: 0.8s; }

.nav-for-mobile {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 75px);
  background-color: white;
  z-index: 10; }

.mobile-nav__item {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 12vh 0; }
  .mobile-nav__item a {
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    line-height: 60px;
    width: 100vw;
    color: #827e9d; }
    .mobile-nav__item a::before {
      content: '';
      position: absolute;
      left: -25px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #827e9d;
      border: 1px solid #827e9d;
      width: 20px;
      transition-duration: 1s; }
    .mobile-nav__item a::after {
      content: '';
      position: absolute;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #827e9d;
      border: 1px solid #827e9d;
      width: 20px;
      transition-duration: 1s; }
    .mobile-nav__item a:hover::before {
      left: 20%; }
    .mobile-nav__item a:hover::after {
      right: 20%; }

.scroll-box {
  position: fixed;
  bottom: 10%;
  right: 10%;
  width: 25px;
  height: 50px;
  border: 2px solid #827e9d;
  border-radius: 13px;
  opacity: 1;
  transition-duration: 0.5s; }

.scroll-ball {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 2px;
  height: 2px;
  background-color: #827e9d;
  transform: translateX(-50%);
  border: 1px solid #827e9d;
  border-radius: 1px;
  animation: scroll_down 1.5s infinite; }

@keyframes scroll_down {
  0% {
    top: 20%; }
  100% {
    top: 70%; } }

section {
  position: relative;
  width: 100vw;
  margin: 5vw auto;
  padding: 5vw 0; }

.about {
  width: 1300px; }

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.back-title {
  font-size: 6vw;
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 10px #827e9d;
  font-family: 'Bowlby One SC', cursive; }

.about-content {
  margin-top: -30px; }

.about-box {
  width: 50%; }

.about-box__title {
  font-size: 4vw;
  text-transform: uppercase;
  color: #827e9d;
  text-align: center;
  font-family: 'Bowlby One SC', cursive; }

.thin-line {
  width: 10%;
  height: 0%;
  background-color: #cbb6d7;
  border: 1px solid #cbb6d7;
  margin: 4vw auto; }

.about-box__explanation {
  font-size: 15px;
  line-height: 40px;
  font-family: 'Nanum Gothic Coding', monospace; }

.detail-box {
  width: 40%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.detail {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 10px;
  transition-duration: 0.2s; }
  .detail:nth-of-type(1) {
    background-color: #e995ca; }
  .detail:nth-of-type(2) {
    background-color: #97a1cf; }
  .detail:nth-of-type(3) {
    background-color: #cbb6d7; }
  .detail:nth-of-type(4) {
    background-color: #8c76ca; }
  .detail:nth-of-type(5) {
    background-color: #827e9d; }

.detail__icon {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px; }

.detail__title {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 15px; }

.skill-box__title {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #827e9d;
  font-weight: bold;
  font-family: 'Bowlby One SC', cursive; }

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 70px 0; }

.flip-card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 10px;
  cursor: pointer; }
  .flip-card:hover > .flip-card__front {
    transform: perspective(600px) rotateY(-180deg); }
  .flip-card:hover > .flip-card__back {
    transform: perspective(600px) rotateY(0deg); }

.flip-card__front {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0px 0px 5px 1px #827e9d; }

.flip-card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto; }

.flip-card__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-color: white;
  transition: transform 0.5s linear;
  transform: perspective(600px) rotateY(180deg);
  box-shadow: 0px 0px 5px 1px #827e9d;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace; }

.flip-card__title {
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0; }

.flip-card__level {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0; }

.flip-card__explanation {
  font-size: 12px;
  line-height: 36px; }

.work {
  position: relative;
  width: 100vw;
  height: 40vw; }

.arrow-box {
  text-align: right; }

.arrow-box img {
  width: 30px;
  height: 30px;
  margin: 10px 20px;
  padding: 10px;
  cursor: pointer; }

.slider {
  display: block;
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 15px 3px #827e9d; }

.work-box {
  position: absolute;
  width: 0%;
  height: 100%;
  overflow: hidden;
  display: flex;
  transition-property: left;
  transition-duration: 1s; }

.current-slide {
  left: 0%;
  width: 100%; }

.prev-slide {
  left: -100%;
  width: 100%; }

.next-slide {
  left: 100%;
  width: 100%; }

.screenshot-box {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center; }

.screenshot-box__big {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: auto;
  box-shadow: 0px 0px 5px 1px #827e9d; }

.screenshot-box__sub {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; }

.screenshot-box__small {
  width: 25%;
  height: auto;
  box-shadow: 0px 0px 5px 1px #827e9d;
  margin: 0 5px;
  cursor: pointer;
  transition-duration: 0.5s; }
  .screenshot-box__small:hover {
    box-shadow: 0px 0px 20px 10px #827e9d; }

.explanation-box {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #efe8f1;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace; }

.explanation-box__title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 3vw; }

.explanation-box__explanation {
  text-align: left;
  font-size: 15px;
  line-height: 45px;
  margin: 0 5%; }

.explanation-box__hashtag {
  font-size: 15px;
  color: #827e9d;
  word-spacing: 15px;
  cursor: pointer;
  margin: 3vw 0; }

.explanation-box__button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #827e9d;
  font-size: 15px;
  font-weight: bold;
  color: #827e9d;
  width: 100px;
  height: 50px;
  cursor: pointer; }
  .explanation-box__button div {
    width: 100%;
    z-index: 3; }
  .explanation-box__button::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% - 12px);
    background: #efe8f1;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
    transform: scaleY(1); }
  .explanation-box__button:hover:before {
    transform: scaleY(0); }
  .explanation-box__button::after {
    content: '';
    position: absolute;
    left: 6px;
    top: -3px;
    height: calc(100% + 6px);
    width: calc(100% - 12px);
    background: #efe8f1;
    transition: 0.3s ease-in-out;
    transform: scaleX(1); }
  .explanation-box__button:hover:after {
    transform: scaleX(0); }

.contact {
  position: relative;
  height: 25vw;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace; }

.contact-box {
  height: 100%;
  margin: 5vw 0; }

.contact-box__icon {
  width: 10%;
  height: auto;
  margin-bottom: 3vw; }

.contact-box__contact {
  font-size: 4vw;
  color: #827e9d;
  cursor: pointer; }

.contact-box__copy {
  width: 30px;
  height: 30px;
  margin-left: 20px; }

.set-center, .mobile-nav, .explanation-box__button div, .contact-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media screen and (max-width: 1300px) {
  .about {
    width: 950px; }
  .explanation-box__explanation {
    line-height: 30px;
    font-size: 12px; }
  .explanation-box__hashtag {
    font-size: 12px; }
  .contact-box__copy {
    width: 20px;
    height: 20px; } }

@media screen and (max-width: 1024px) {
  .header {
    height: 7.5vw;
    line-height: 7.5vw; }
  section {
    padding: 7.5vw 0; }
  .about {
    width: 700px; }
  .detail {
    width: 120px;
    height: 120px;
    border-radius: 60px; }
  .work {
    height: 60vw; }
  .explanation-box__title {
    font-size: 25px; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 10px; }
  .header {
    height: 75px;
    line-height: 75px; }
  .header__menu {
    display: block; }
  .nav {
    display: none; }
  section {
    padding: 75px 0; }
  .about {
    width: 90vw; }
  .back-title {
    font-size: 30px; }
  .about-content {
    margin: 0;
    flex-direction: column; }
  .about-box {
    width: 100%; }
  .about-box__title {
    font-size: 30px; }
  .detail-box {
    width: 100%;
    margin-bottom: 50px; }
  .back-title {
    text-align: center; }
  .work {
    height: 160vw; }
  .work-box {
    flex-direction: column; }
  .screenshot-box {
    width: 100%;
    height: 45%; }
  .explanation-box {
    width: 100%;
    height: 55%; }
  .explanation-box__title {
    font-size: 20px; }
  .explanation-box__button {
    width: 70px;
    height: 35px;
    font-size: 12px; }
  .contact-box__icon {
    width: 30px; }
  .contact-box__contact {
    font-size: 20px; }
  .contact-box__copy {
    width: 10px;
    height: 10px; } }
